apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
data:
  text: "Hello World!"
  drink: {{ .Values.favorite.drink | default "coffee" | quote }}
  food: {{ .Values.favorite.food | upper | quote }}
