apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
data:
  {{ .Values.configMap.keys.supabaseAnonKey }}: {{ .Values.apiKeys.supabaseAnonKey | quote }}
  {{ .Values.configMap.keys.supabaseUrl }}: {{ .Values.apiKeys.supabaseUrl | quote }}
