apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ lower .Release.Name }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
  - host: {{ .Values.host }}
    http:
      paths:
      - path: /?(.*)
        pathType: Prefix
        backend:
          service:
            name: {{ lower .Release.Name }}
            port:
              number: {{ .Values.container.port }}
